<a href="https://colab.research.google.com/github/housekjh1/study-python/blob/main/K%EB%94%94%EC%A7%80%ED%84%B84%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

사칙연산 계산

In [ ]:
3+5

예약어

In [ ]:
import keyword

print(keyword.kwlist)

복소수
1. 생성
2. 연산
3. 출력

In [ ]:
# 복소수 생성
z1 = 2 + 3j
z2 = complex(4, -2)

# 복소수 연산
z3 = z1 + z2
z4 = z1 * z2
z5 = z1 / z2
z6 = z1 ** 2

# 결과 출력
print(z3)   # (6+1j)
print(z4)   # (14+8j)
print(z5)   # (-0.4+0.7j)
print(z6)   # (-5+12j)

타입 에러

In [ ]:
num = 10
text = "apple"
print(str(num) + text)

10apple

In [ ]:
num = 1.2
print(type(num))

<class 'float'>

리스트

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[1])
fruits[1] = "orange"
print(fruits)

['apple', 'banana', 'cherry']
banana
['apple', 'orange', 'cherry']

튜플

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)
print(fruits[1])

('apple', 'banana', 'cherry')
banana

딕셔너리

In [ ]:
fruits = {"apple": 3, "banana": 2, "cherry": 5}
print(fruits)
print(fruits["banana"])
fruits["orange"] = 4
print(fruits)

{'apple': 3, 'banana': 2, 'cherry': 5}
2
{'apple': 3, 'banana': 2, 'cherry': 5, 'orange': 4}

멤버쉽 연산자

In [ ]:
# 멤버쉽 연산자 사용 예제
a = [1, 2, 3, 4, 5]
b = "Hello, World!"
print(3 in a)  # True 출력
print(6 in a)  # False 출력
print("o" in b)  # True 출력
print("k" not in b)  # True 출력

True
False
True
True

포매팅

In [ ]:
# % 연산자를 이용한 포매팅
name = "John"
age = 30
height = 175.5

text = "My name is %s, I'm %d years old, and my height is %.1f." % (name, age, height)

print(text)
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

My name is John, I'm 30 years old, and my height is 175.5.

In [ ]:
# 출력 형식 지정 예제
num = 10
pi = 3.14159265

print("num = %d" % num)  # 출력 결과: "num = 10"
print("pi = %f" % pi)  # 출력 결과: "pi = 3.141593"
print("pi = %.2f" % pi)  # 출력 결과: "pi = 3.14"
print("pi = %10.2f" % pi)  # 출력 결과: "pi =       3.14"

num = 10
pi = 3.141593
pi = 3.14
pi =       3.14

In [ ]:
# format() 메소드를 이용한 포매팅
name = "John"
age = 30
height = 175.5

text = "My name is {}, I'm {} years old, and my height is {:.1f}.".format(name, age, height)

print(text)
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

# 인덱스를 이용한 포매팅 예제
name = "John"
age = 30
height = 175.5

print("My name is {0}, I'm {1} years old, and my height is {2:.1f}.".format(name, age, height))
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

# 문자열
name = "John"
print("Hello, {}!".format(name))

# 정수
num = 42
print("The answer is {}.".format(num))

# 실수
pi = 3.14159
print("Pi is approximately {:.2f}.".format(pi))

# 여러 개의 변수
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {} {} and I am {} years old.".format(first_name, last_name, age))

# 인덱스를 이용한 대입
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {1} {0} and I am {2} years old.".format(last_name, first_name, age))

My name is John, I'm 30 years old, and my height is 175.5.

In [ ]:
# f-string을 이용한 문자열 포매팅
name = "John"
age = 30
height = 175.5

print(f"My name is {name}, I'm {age} years old, and my height is {height:.1f}.")
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

My name is John, I'm 30 years old, and my height is 175.5.

In [ ]:
name = "Tom"
age = 20

print(f"My name is {name} and I am {age} years old.")
print("My name is {} and I am {} years old." .format(name, age))
print("My name is %s and I am %d years old." % (name, age))

My name is Tom and I am 20 years old.
My name is Tom and I am 20 years old.
My name is Tom and I am 20 years old.

In [ ]:
a = 1
b = 2
c = 3

print(f"I have {c} apples, {b} oranges, and {a} banana.")

I have 3 apples, 2 oranges, and 1 banana.

In [ ]:
a = 1.2312

print(f"The result is {a:.2f}.")

The result is 1.23.

In [ ]:
a = 90

print(f"Your score is {a}%.")

Your score is 90%.

In [ ]:
a = 10
b = 20
c = a + b

print(f"{a} + {b} = {c}")

10 + 20 = 30

Input

In [ ]:
# input() 함수를 이용하여 사용자로부터 입력 받기
name = input("What is your name? ")
print(f"Hello, {name}!")

What is your name? LIMNB
Hello, LIMNB!

Input은 문자열로 반환됨

In [ ]:
# input() 함수를 이용하여 사용자로부터 입력받아 계산하기
num1 = input("첫 번째 정수를 입력하세요: ")
num1 = int(num1)
num2 = int(input("두 번째 정수를 입력하세요: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print(f"{num1} + {num2} = {addition}")
print(f"{num1} - {num2} = {subtraction}")
print(f"{num1} * {num2} = {multiplication}")
print(f"{num1} / {num2} = {division:.2f}")

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20
10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.50

In [ ]:
# input(), 포매팅, 산술식을 이용하여 계산하기
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

result = f"""
입력한 숫자:
첫 번째 숫자: {num1}
두 번째 숫자: {num2}

산술 연산 결과:
{num1} + {num2} = {num1 + num2}
{num1} - {num2} = {num1 - num2}
{num1} * {num2} = {num1 * num2}
{num1} / {num2} = {num1 / num2:.2f}
"""

print(result)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20

입력한 숫자:
첫 번째 숫자: 10
두 번째 숫자: 20

산술 연산 결과:
10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.50

In [ ]:
# 사과 쇼핑몰
qty = int(input("사과의 개수를 입력하세요.: "))
price = int(input("사과의 갯수당 가격을 입력하세요.: "))
tax = float(input("부가세율을 입력하세요(%).: "))/100
'''
result = f"""
입력한 숫자:
갯수: {qty}
개당 가격: {price}
부가세율: {tax}
총가격

총가격:
{qty} * {price} * {tax} = {qty * price + (qty * price) * tax}
"""

print(result)
'''

total_price = qty * price
total_tax = total_price * tax
output_price = total_price + total_tax

output = f"[결제 금액]\n사과가격:{price}원\n수량:{qty}개\n부가세:{int(total_tax)}원\n총 가격:{int(output_price)}원"
print(output)

사과의 개수를 입력하세요.: 10
사과의 갯수당 가격을 입력하세요.: 600
부가세율을 입력하세요(%).: 10
[결제 금액]
사과가격:600원
수량:10개
부가세:600원
총 가격:6600원

추가문제

- 초를 입력하면 분과 초로 표시하는 프로그램. 예를 들어, 200초를 입력하면 3분 20초로 표현하라

- 분(min)을 입력 하면, 일, 시간, 분으로 출력하는 프로그램을 만들어라. (예 : 1550분은 1일 1시간 50분)

- 500만원을 년이율 5%로 복리 저금했을 때 5년 후의 원리금의 합계를 출력하는 프로그램

- 1부터 n까지의 합은 n(n+1)/2로 주어진다. 1부터 100까지의 합을 구하여 출력하는 프로그램을 작성하고 실행하라.

- 판매자가 딸기와 포도를 판매하고 있다. 포도 한 알의 무게는 75g이고 딸기 한 알의 무게는 113.5g이다. 사용자로부터 포도 알의 개수와 딸기의 개수를 입력 받아 총 무게를 계산하여 출력하는 프로그램을 작성하고 실행하라.

In [ ]:
sec = int(input("초를 입력하세요.: "))

min = sec // 60
output_sec = sec % 60

output = f"{sec}은/는 {min}분 {output_sec}초입니다."
print(output)

초를 입력하세요.: 200
200은/는 3분 20초입니다.

In [ ]:
total_min = int(input("분을 입력하세요.: "))

d = total_min // (24 * 60)
h = (total_min // 60) % 24
m = total_min % 60
print(f'{total_min}분은 {d}일 {h}시간 {m}분입니다.')

분을 입력하세요.: 1550
1550분은 1일 1시간 50분입니다.

In [ ]:
원금 = int(input("원금을 입력하세요.: "))
이율 = float(input("이율을 입력하세요.(%): "))/100
총액 = 원금*(1+이율)**5
print(f"5년 후의 총액은 {int(총액)}원입니다.")

원금을 입력하세요.: 5000000
이율을 입력하세요.(%): 5
5년 후의 총액은 6381407원입니다.

In [ ]:
n = 100
total = n*(n+1)/2
print(f"1부터 100까지의 합은 {int(total)}입니다.")

1부터 100까지의 합은 5050입니다.

In [ ]:
grapes = int(input("포도 알의 갯수를 입력하세요.: "))
berries = int(input("딸기 알의 갯수를 입력하세요.: "))

total_g = grapes * 75
total_b = berries * 113.5
total_weight = total_g + total_b
print(f"포도와 딸기의 총 무게는 {total_weight}g입니다.")

포도 알의 갯수를 입력하세요.: 20
딸기 알의 갯수를 입력하세요.: 8
포도와 딸기의 총 무게는 2408.0g입니다.

조건문

In [ ]:
# 사용자로부터 성적을 입력받아, 학점 부여하기
score = int(input("성적을 입력하세요: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"당신의 학점은 {grade}입니다.")

성적을 입력하세요: 90
당신의 학점은 A입니다.

In [ ]:
string = input("문자열을 입력하세요: ")
length = len(string) if string else 0
print("문자열의 길이는", length, "입니다.")

문자열을 입력하세요: 안녕하세요.
문자열의 길이는 6 입니다.

In [ ]:
국어 = int(input("국어 성적을 입력하십시오.: "))
영어 = int(input("영어 성적을 입력하십시오.: "))
수학 = int(input("수학 성적을 입력하십시오.: "))
가중치 = 국어*0.4+영어*0.4+수학*0.2
평균 = float(가중치)

if 평균 >= 90:
  학점 = 'A'
elif 평균 >= 80:
  학점 = 'B'
elif 평균 >= 70:
  학점 = 'C'
elif 평균 >= 60:
  학점 = 'D'
else:
  학점 = 'F'

result = f"[성적 결과]\n국어: {국어}점, 영어: {영어}점, 수학: {수학}점\n총 평균 점수: {평균:.2f}점7\n학점: {학점}"
print(result)

국어 성적을 입력하십시오.: 89
영어 성적을 입력하십시오.: 79
수학 성적을 입력하십시오.: 0
[성적 결과]
국어: 89점, 영어: 79점, 수학: 0점
총 평균 점수: 67.20점
학점: D

In [ ]:
num = int(input("길이를 입력하세요.: "))

if num <= 0:
  print("잘못 입력하였습니다.")
else:
  cmIn = num / 2.54
  print(f"인치수로 변환하면 값은 다음과 같습니다.: {cmIn:.2f}In")

길이를 입력하세요.: 200
인치수로 변환하면 값은 다음과 같습니다.: 78.74In

In [ ]:
num = int(input("이수한 학점을 입력하세요.: "))

if num < 40:
  print("1학년입니다.")
else:
  if num < 80:
    print("2학년입니다.")
  else:
    print("졸업반입니다.")

이수한 학점을 입력하세요.: 10
1학년입니다.

In [ ]:
hour = int(input("Enter hour: "))
dN = int(input("am(1) or pm(2)?: "))
ahead = int(input("How many hours ahead?: "))
sum = hour + ahead
time = (hour + ahead) % 12

if dN == 1:
  if sum < 12:
    print(f"New hour: {time} am")
  else:
    print(f"New hour: {time} pm")

if dN == 2:
  if sum < 12:
    print(f"New hour: {time} pm")
  else:
    print(f"New hour: {time} am")