<a href="https://colab.research.google.com/github/housekjh1/study-python/blob/main/K%EB%94%94%EC%A7%80%ED%84%B84%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

사칙연산 계산

In [ ]:
3+5

예약어

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

복소수
1. 생성
2. 연산
3. 출력

In [ ]:
# 복소수 생성
z1 = 2 + 3j
z2 = complex(4, -2)

# 복소수 연산
z3 = z1 + z2
z4 = z1 * z2
z5 = z1 / z2
z6 = z1 ** 2

# 결과 출력
print(z3)   # (6+1j)
print(z4)   # (14+8j)
print(z5)   # (0.1+0.8j)
print(z6)   # (-5+12j)

(6+1j)
(14+8j)
(0.1+0.8j)
(-5+12j)

타입 에러

In [ ]:
num = 10
text = "apple"
print(str(num) + text)

10apple

In [ ]:
num = 1.2
print(type(num))

<class 'float'>

리스트

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[1])
fruits[1] = "orange"
print(fruits)

['apple', 'banana', 'cherry']
banana
['apple', 'orange', 'cherry']

튜플

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)
print(fruits[1])

('apple', 'banana', 'cherry')
banana

딕셔너리

In [ ]:
fruits = {"apple": 3, "banana": 2, "cherry": 5}
print(fruits)
print(fruits["banana"])
fruits["orange"] = 4
print(fruits)

{'apple': 3, 'banana': 2, 'cherry': 5}
2
{'apple': 3, 'banana': 2, 'cherry': 5, 'orange': 4}

멤버쉽 연산자

In [ ]:
# 멤버쉽 연산자 사용 예제
a = [1, 2, 3, 4, 5]
b = "Hello, World!"
print(3 in a)  # True 출력
print(6 in a)  # False 출력
print("o" in b)  # True 출력
print("k" not in b)  # True 출력

True
False
True
True

포매팅

In [ ]:
# % 연산자를 이용한 포매팅
name = "John"
age = 30
height = 175.5

text = "My name is %s, I'm %d years old, and my height is %.1f." % (name, age, height)

print(text)
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

My name is John, I'm 30 years old, and my height is 175.5.

In [ ]:
# 출력 형식 지정 예제
num = 10
pi = 3.14159265

print("num = %d" % num)  # 출력 결과: "num = 10"
print("pi = %f" % pi)  # 출력 결과: "pi = 3.141593"
print("pi = %.2f" % pi)  # 출력 결과: "pi = 3.14"
print("pi = %10.2f" % pi)  # 출력 결과: "pi =       3.14"

num = 10
pi = 3.141593
pi = 3.14
pi =       3.14

In [ ]:
# format() 메소드를 이용한 포매팅
name = "John"
age = 30
height = 175.5

text = "My name is {}, I'm {} years old, and my height is {:.1f}.".format(name, age, height)

print(text)
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

# 인덱스를 이용한 포매팅 예제
name = "John"
age = 30
height = 175.5

print("My name is {0}, I'm {1} years old, and my height is {2:.1f}.".format(name, age, height))
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

# 문자열
name = "John"
print("Hello, {}!".format(name))

# 정수
num = 42
print("The answer is {}.".format(num))

# 실수
pi = 3.14159
print("Pi is approximately {:.2f}.".format(pi))

# 여러 개의 변수
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {} {} and I am {} years old.".format(first_name, last_name, age))

# 인덱스를 이용한 대입
first_name = "Jane"
last_name = "Doe"
age = 25
print("My name is {1} {0} and I am {2} years old.".format(last_name, first_name, age))

My name is John, I'm 30 years old, and my height is 175.5.
My name is John, I'm 30 years old, and my height is 175.5.
Hello, John!
The answer is 42.
Pi is approximately 3.14.
My name is Jane Doe and I am 25 years old.
My name is Jane Doe and I am 25 years old.

In [ ]:
# f-string을 이용한 문자열 포매팅
name = "John"
age = 30
height = 175.5

print(f"My name is {name}, I'm {age} years old, and my height is {height:.1f}.")
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

My name is John, I'm 30 years old, and my height is 175.5.

In [ ]:
name = "Tom"
age = 20

print(f"My name is {name} and I am {age} years old.")
print("My name is {} and I am {} years old." .format(name, age))
print("My name is %s and I am %d years old." % (name, age))

My name is Tom and I am 20 years old.
My name is Tom and I am 20 years old.
My name is Tom and I am 20 years old.

In [ ]:
a = 1
b = 2
c = 3

print(f"I have {c} apples, {b} oranges, and {a} banana.")

I have 3 apples, 2 oranges, and 1 banana.

In [ ]:
a = 1.2312

print(f"The result is {a:.2f}.")

The result is 1.23.

In [ ]:
a = 90

print(f"Your score is {a}%.")

Your score is 90%.

In [ ]:
a = 10
b = 20
c = a + b

print(f"{a} + {b} = {c}")

10 + 20 = 30

Input

In [ ]:
# input() 함수를 이용하여 사용자로부터 입력 받기
name = input("What is your name? ")
print(f"Hello, {name}!")

What is your name? LIMNB
Hello, LIMNB!

Input은 문자열로 반환됨

In [ ]:
# input() 함수를 이용하여 사용자로부터 입력받아 계산하기
num1 = input("첫 번째 정수를 입력하세요: ")
num1 = int(num1)
num2 = int(input("두 번째 정수를 입력하세요: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print(f"{num1} + {num2} = {addition}")
print(f"{num1} - {num2} = {subtraction}")
print(f"{num1} * {num2} = {multiplication}")
print(f"{num1} / {num2} = {division:.2f}")

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20
10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.50

In [ ]:
# input(), 포매팅, 산술식을 이용하여 계산하기
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

result = f"""
입력한 숫자:
첫 번째 숫자: {num1}
두 번째 숫자: {num2}

산술 연산 결과:
{num1} + {num2} = {num1 + num2}
{num1} - {num2} = {num1 - num2}
{num1} * {num2} = {num1 * num2}
{num1} / {num2} = {num1 / num2:.2f}
"""

print(result)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20

입력한 숫자:
첫 번째 숫자: 10
두 번째 숫자: 20

산술 연산 결과:
10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.50

In [ ]:
# 사과 쇼핑몰
qty = int(input("사과의 개수를 입력하세요.: "))
price = int(input("사과의 갯수당 가격을 입력하세요.: "))
tax = float(input("부가세율을 입력하세요(%).: "))/100
'''
result = f"""
입력한 숫자:
갯수: {qty}
개당 가격: {price}
부가세율: {tax}
총가격

총가격:
{qty} * {price} * {tax} = {qty * price + (qty * price) * tax}
"""

print(result)
'''

total_price = qty * price
total_tax = total_price * tax
output_price = total_price + total_tax

output = f"[결제 금액]\n사과가격:{price}원\n수량:{qty}개\n부가세:{int(total_tax)}원\n총 가격:{int(output_price)}원"
print(output)

사과의 개수를 입력하세요.: 10
사과의 갯수당 가격을 입력하세요.: 600
부가세율을 입력하세요(%).: 10
[결제 금액]
사과가격:600원
수량:10개
부가세:600원
총 가격:6600원

추가문제

- 초를 입력하면 분과 초로 표시하는 프로그램. 예를 들어, 200초를 입력하면 3분 20초로 표현하라

- 분(min)을 입력 하면, 일, 시간, 분으로 출력하는 프로그램을 만들어라. (예 : 1550분은 1일 1시간 50분)

- 500만원을 년이율 5%로 복리 저금했을 때 5년 후의 원리금의 합계를 출력하는 프로그램

- 1부터 n까지의 합은 n(n+1)/2로 주어진다. 1부터 100까지의 합을 구하여 출력하는 프로그램을 작성하고 실행하라.

- 판매자가 딸기와 포도를 판매하고 있다. 포도 한 알의 무게는 75g이고 딸기 한 알의 무게는 113.5g이다. 사용자로부터 포도 알의 개수와 딸기의 개수를 입력 받아 총 무게를 계산하여 출력하는 프로그램을 작성하고 실행하라.

In [ ]:
sec = int(input("초를 입력하세요.: "))

min = sec // 60
output_sec = sec % 60

output = f"{sec}은/는 {min}분 {output_sec}초입니다."
print(output)

초를 입력하세요.: 200
200은/는 3분 20초입니다.

In [ ]:
total_min = int(input("분을 입력하세요.: "))

d = total_min // (24 * 60)
h = (total_min // 60) % 24
m = total_min % 60
print(f'{total_min}분은 {d}일 {h}시간 {m}분입니다.')

분을 입력하세요.: 1550
1550분은 1일 1시간 50분입니다.

In [ ]:
원금 = int(input("원금을 입력하세요.: "))
이율 = float(input("이율을 입력하세요.(%): "))/100
총액 = 원금*(1+이율)**5
print(f"5년 후의 총액은 {int(총액)}원입니다.")

원금을 입력하세요.: 5000000
이율을 입력하세요.(%): 5
5년 후의 총액은 6381407원입니다.

In [ ]:
n = 100
total = n*(n+1)/2
print(f"1부터 100까지의 합은 {int(total)}입니다.")

1부터 100까지의 합은 5050입니다.

In [ ]:
grapes = int(input("포도 알의 갯수를 입력하세요.: "))
berries = int(input("딸기 알의 갯수를 입력하세요.: "))

total_g = grapes * 75
total_b = berries * 113.5
total_weight = total_g + total_b
print(f"포도와 딸기의 총 무게는 {total_weight}g입니다.")

포도 알의 갯수를 입력하세요.: 20
딸기 알의 갯수를 입력하세요.: 8
포도와 딸기의 총 무게는 2408.0g입니다.

조건문

In [ ]:
# 사용자로부터 성적을 입력받아, 학점 부여하기
score = int(input("성적을 입력하세요: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"당신의 학점은 {grade}입니다.")

성적을 입력하세요: 90
당신의 학점은 A입니다.

In [ ]:
string = input("문자열을 입력하세요: ")
length = len(string) if string else 0
print("문자열의 길이는", length, "입니다.")

문자열을 입력하세요: 안녕하세요.
문자열의 길이는 6 입니다.

In [ ]:
국어 = int(input("국어 성적을 입력하십시오.: "))
영어 = int(input("영어 성적을 입력하십시오.: "))
수학 = int(input("수학 성적을 입력하십시오.: "))
가중치 = 국어*0.4+영어*0.4+수학*0.2
평균 = float(가중치)

if 평균 >= 90:
  학점 = 'A'
elif 평균 >= 80:
  학점 = 'B'
elif 평균 >= 70:
  학점 = 'C'
elif 평균 >= 60:
  학점 = 'D'
else:
  학점 = 'F'

result = f"[성적 결과]\n국어: {국어}점, 영어: {영어}점, 수학: {수학}점\n총 평균 점수: {평균:.2f}점7\n학점: {학점}"
print(result)

국어 성적을 입력하십시오.: 89
영어 성적을 입력하십시오.: 79
수학 성적을 입력하십시오.: 0
[성적 결과]
국어: 89점, 영어: 79점, 수학: 0점
총 평균 점수: 67.20점
학점: D

In [ ]:
num = int(input("길이를 입력하세요.: "))

if num <= 0:
  print("잘못 입력하였습니다.")
else:
  cmIn = num / 2.54
  print(f"인치수로 변환하면 값은 다음과 같습니다.: {cmIn:.2f}In")

길이를 입력하세요.: 200
인치수로 변환하면 값은 다음과 같습니다.: 78.74In

In [ ]:
num = int(input("이수한 학점을 입력하세요.: "))

if num < 40:
  print("1학년입니다.")
else:
  if num < 80:
    print("2학년입니다.")
  else:
    print("졸업반입니다.")

이수한 학점을 입력하세요.: 10
1학년입니다.

In [ ]:
hour = int(input("Enter hour: "))
dN = int(input("am(1) or pm(2)?: "))
ahead = int(input("How many hours ahead?: "))
sum = hour + ahead
time = (hour + ahead) % 12

if dN == 1:
  if sum < 12:
    print(f"New hour: {time} am")
  else:
    print(f"New hour: {time} pm")

if dN == 2:
  if sum < 12:
    print(f"New hour: {time} pm")
  else:
    print(f"New hour: {time} am")

In [ ]:
현재시간12 = int(input('현재 시간 (1~12)'))
오전오후 = input("오전오후(am or pm)")
경과시간 = int(input("경과시간:"))

if 오전오후 == 'am':
  현재시간24 = 현재시간12
else:
  현재시간24 = 현재시간12+12

시간24 = (현재시간24+경과시간)%24

if 시간24>12:
  'pm'
else:
  'am'

시간12 = 시간24%12

'''미완성'''

현재 시간 (1~12)8
오전오후(am or pm)am
경과시간:5

'미완성'

In [ ]:
max_value = 0
while True:
    num = int(input("숫자를 입력하세요: "))
    if num == 0:
        break
    if num > max_value:
        max_value = num
print("가장 큰 값: ", max_value)

숫자를 입력하세요: 10
숫자를 입력하세요: 6
숫자를 입력하세요: 5
숫자를 입력하세요: 4
숫자를 입력하세요: 8
숫자를 입력하세요: 7
숫자를 입력하세요: 2
숫자를 입력하세요: 3
숫자를 입력하세요: 4
숫자를 입력하세요: 0
가장 큰 값:  10

In [ ]:
fruits = ["apple", "banana", "cherry"]
text = 'abcdefg'
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
for i in range(1, 6):
    for j in range(1, i+1):
        print("*", end="")
    print()

for i in range(4, 0, -1):
    for j in range(1, i+1):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [ ]:
print('he\nllo')
print('hello')
print('hello', end="") #개행을 막아줌
print('hello')

he
llo
hello
hellohello

In [ ]:
num = int(input("양의 정수를 입력하세요.: "))
sum = 0
if num <= 0:
  print("잘못 입력하셨습니다.")
else:
  for i in range(1, num+1):
    sum += i*3
    sum += i*5
print(sum)

양의 정수를 입력하세요.: 1
8

In [ ]:
n = int(input("[3의 배수와 5의 배수 합 구하기]\n\n 양의 정수 n을 입력하세요.: "))

sum = 0
for i in range(1, n+1):
  if i%3==0 or i%5==0:
    sum += i
print(f"\n[결과]\nf1부터 {n}까지의 3의 배수와 5의 배수의 총합은 {sum}입니다.")

[3의 배수와 5의 배수 합 구하기]

 양의 정수 n을 입력하세요.: 1

[결과]
f1부터 1까지의 3의 배수와 5의 배수의 총합은 0입니다.

In [ ]:
max_v = 0
min_v = 100
switch = 0
while True:
  num = int(input("[1~100]\n5개의 정수를 입력하세요.: "))
  if num > 100:
    print("잘못된 입력 값입니다.")
    break
  else:
    if num <= 0:
      print("중단.")
      break
    else:
      if num == 0:
        break
      else:
        switch = 1
        if num > max_v:
          max_v = num
        if num < min_v:
          min_v = num
if switch == 1:
  print("가장 큰 값: ", max_v)
  print("가장 작은 값: ", min_v)

[1~100]
5개의 정수를 입력하세요.: 100
[1~100]
5개의 정수를 입력하세요.: 97
[1~100]
5개의 정수를 입력하세요.: 95
[1~100]
5개의 정수를 입력하세요.: 93
[1~100]
5개의 정수를 입력하세요.: 91
[1~100]
5개의 정수를 입력하세요.: -1
중단.
가장 큰 값:  100
가장 작은 값:  91

In [1]:
max_value = 0
min_value = 100
while True:
  num = int (input("1~100의 정수를 입력하세요.(종료:0): "))
  if num == 0:
    break
  if num > max_value:
    max_value = num
  if num < min_value:
    min_value = num

print("가장 큰 값 :", max_value)
print("가장 작은 값 :", min_value)

1~100의 정수를 입력하세요.(종료:0): 100
1~100의 정수를 입력하세요.(종료:0): 98
1~100의 정수를 입력하세요.(종료:0): 96
1~100의 정수를 입력하세요.(종료:0): 94
1~100의 정수를 입력하세요.(종료:0): 0
가장 큰 값 : 100
가장 작은 값 : 94

In [ ]:
sum = 0
while sum < 100:
  num = int(input("[숫자의 합이 100보다 작을 때까지 입력받기]\n\n숫자를 입력하세요: "))
  sum += num
#print("\n[결과]\n입력받은 숫자들의 합:", sum)
print(f'\n[결과]\n입력받은 숫자들의 합: {sum-num}')

[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 7
[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 4
[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 6
[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 39
[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 39
[숫자의 합이 100보다 작을 때까지 입력받기]

숫자를 입력하세요: 35

[결과]
입력받은 숫자들의 합: 95

피보나치 수열 입력항의 숫자를 찾는 코드

In [6]:
num = int(input("몇 번째 항을 출력할까요? (1 이상의 양의 정수): "))

if num==1 or num==2:
  result = 1
else:
  val_1 = 1
  val_2 = 1
  i = 3
  while i <= num:
    result = val_1 + val_2
    val_1 = val_2
    val_2 = result
    i += 1

print(f"피보나치 수열의 {num}번째 항은 {result}입니다.")

몇 번째 항을 출력할까요? (1 이상의 양의 정수): 7
피보나치 수열의 7번째 항은 13입니다.

In [10]:
for i in range(1, 11):
    if i % 3 == 0:
      print(i)
    else:
      continue
      print("이 부분은 실행되지 않습니다.")  # continue문으로 이동했기 때문에 실행되지 않음
print("반복문이 종료되었습니다.")

3
6
9
반복문이 종료되었습니다.

모음 지우기 예제

In [11]:
vowels = ['a', 'e', 'i', 'o', 'u']
input_str = input("Enter a string: ")

output_str = ""
for char in input_str:
    if char in vowels:
      pass
    else:
      output_str += char

print("Modified string:", output_str)

Enter a string: arise
Modified string: rs

주사위 예제

In [ ]:
import random

#a = [1, 2, 3, 4, 5, 6]
#b = [1, 2, 3, 4, 5, 6]
c = 0

while True:
  a = random.randint(1, 6)
  b = random.randint(1, 6)
  c = a + b
  print(f"({a}, {b}) 합={c}")

  if c == 7:
    print("win")
    break
  else:
    print("try again")

(6, 2) 합=8
try again
(3, 5) 합=8
try again
(6, 1) 합=7
win

In [23]:
import random
a = 10

while True:
  if a > 0:
    if a < 100:
      coin = random.randint(1,2)
      guess = int(input("앞/뒤(1/2)?"))

  if a <= 0:
    print("탕진")
    break
  else:
    if a >= 100:
      print("승리")
      break
    else:
      if coin == guess:
        a += 9
        print(f"[맞추셨습니다.]\n잔액은 {a}$입니다.")
      else:
        a -= 10
        print(f"[틀리셨습니다.]\n잔액은 {a}$입니다.")

print("게임을 종료합니다.")

앞/뒤(1/2)?2
[틀리셨습니다.]
잔액은 0$입니다.
탕진
게임을 종료합니다.

In [25]:
string = "hello world"
substring = string[6:]
print(substring)  # "world"

world

In [ ]:
string = "hello world"
substring = string[:5]
print(substring)  # "hello"

hello

In [ ]:
string = "hello world"
substring = string[::2]
print(substring)  # "hlowrd"

hlowrd

In [ ]:
s = "Hello, world!"
reversed_s = s[::-1]
print(reversed_s)  # "!dlrow ,olleH"

!dlrow ,olleH

In [ ]:
print("hello, world!".upper())
print("HeLLo, wOrLd!".lower())
print("hello, world!".capitalize())
print("hello, world!".title())
print("Hello, World!".swapcase())

HELLO, WORLD!
hello, world!
Hello, world!
Hello, World!
hELLO, wORLD!

In [27]:
s = "Holla World"

print(len(s))
print(s*10)
print(s[0])
print(s[:3])
print(s[-3:])
print(s[::-1])

if s[6].isspace():
  print('문자가 없습니다.')
else:
  print(s[6])

i = 0
while i < len(s):
  if i == 0:
    pass
  elif i == len(s)-1:
    pass
  else:
    print(s[i], end="")
  i += 1
print()
print(s.upper())
print(s.lower())
print(s.replace("a", "e"))

11
Holla WorldHolla WorldHolla WorldHolla WorldHolla WorldHolla WorldHolla WorldHolla WorldHolla WorldHolla World
H
Hol
rld
dlroW alloH
W
olla Worl
HOLLA WORLD
holla world
Holle World

In [29]:
text = input("text: ")
print(text.replace('a', 'a\n'))

text: Buffalo
Buffa
lo

In [30]:
total = 0

for num in range(1,1001):
  sum = 0
  for digit in str(num):
    sum += int(digit)
  total += sum

print(total)

13501

In [34]:
words = ["apple", "banana", "orange", "grape", "watermelon"]
result = [word.upper() for word in words if len(word) >= 5]
print(result)  # ['APPLE', 'BANANA', 'ORANGE', 'GRAPE', 'WATERMELON']

['APPLE', 'BANANA', 'ORANGE', 'GRAPE', 'WATERMELON']

In [36]:
original_list = [[1, 2], [3, 4], [5, 6]]
new_list = [num for sublist in original_list for num in sublist]
print(new_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [44]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = [num for row in matrix for num in row if num % 2 == 0]
print(result)  # [2, 4, 6, 8]

[2, 4, 6, 8]

In [58]:
nums = [1, 2, 3, 4, 5]
reversed_nums = reversed(nums)
#print(reversed_nums)  # [5, 4, 3, 2, 1]

#type(reversed_nums)
#print(reversed_nums)
#print(list(reversed_nums))

for x in reversed_nums:
  print(x, end="")

for x in reversed_nums: #이터레이터는 한 번 사용하면 내용이 빠져나가서 그 후로는 값이 없어 출력안됨
  print(x, end="")

print(list(reversed_nums))

54321[]

In [65]:
def calculate(x, y):
    add = x + y
    subtract = x - y
    multiply = x * y
    divide = x / y
    return add, subtract, multiply, divide

a, b, c, d = calculate(10, 2)
print(f'{a} {b} {c} {d:.2f}')

12 8 20 5.00

In [71]:
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3
print(my_dict)  # {'a': 1, 'b': 2, 'c': 3}

my_dict = {'a': 1, 'b': 2}
my_dict.update({'c': 3, 'd': 4})
print(my_dict)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [79]:
# 딕셔너리 생성
fruits = {'apple': 3, 'banana': 2, 'orange': 1}

# keys 함수를 사용하여 딕셔너리의 키를 리스트로 변환
keys_list = list(fruits.keys())
print(keys_list)  # ['apple', 'banana', 'orange']

# values 함수를 사용하여 딕셔너리의 값을 리스트로 변환
values_list = list(fruits.values())
print(values_list)  # [3, 2, 1]

# items 함수를 사용하여 딕셔너리의 (키, 값) 쌍을 리스트로 변환
items_list = fruits.items()
print(items_list)  # [('apple', 3), ('banana', 2), ('orange', 1)]

for k, v in fruits.items():
  print(k, end="\t")
  print(v)

['apple', 'banana', 'orange']
[3, 2, 1]
dict_items([('apple', 3), ('banana', 2), ('orange', 1)])
apple	3
banana	2
orange	1

In [83]:
# 딕셔너리 생성
fruits = {'apple': 3, 'banana': 2, 'orange': 1}

# get 함수를 사용하여 딕셔너리에서 특정 키에 해당하는 값을 가져옴
print(fruits.get('apple'))  # 3
print(fruits.get('grape', 'Hi'))  # None

3
Hi

In [110]:
days = {'January':31, 'February':28, 'March':31, 'April':30, 'May':31, 'June':30, 'July':31, 'August':31, 'September':30, 'October':31, 'November':30, 'December':31}

m = input("월을 입력하세요.: ")
if m in days:
  print(days.get(m))
else:
  print("잘못된 입력 값입니다.")

print(sorted(list(days.keys())))

for m, d in days.items():
  if d == 31:
    print(f'{m}', end="\t")
print()

# 월의 일수를 기준으로 오름차순으로 (key-value) 쌍을 출력하라

dm = [(d, m) for (m, d) in days.items()]
for d, m in sorted(dm):
  print(f'{m}:{d}', end="\t")
print()

mon = input('month(3 char): ')

for m in days.keys():
  if m[:3] == mon:
    print(days[m])

월을 입력하세요.: August
31
['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
January	March	May	July	August	October	December
February:28	April:30	June:30	November:30	September:30	August:31	December:31	January:31	July:31	March:31	May:31	October:31
month(3 char): Aug
31

In [111]:
dm = [(d, m) for (m, d) in days.items()]
sdm = sorted(dm)
smd = [(m, d) for (d, m) in sdm]
print(smd)

[('February', 28), ('April', 30), ('June', 30), ('November', 30), ('September', 30), ('August', 31), ('December', 31), ('January', 31), ('July', 31), ('March', 31), ('May', 31), ('October', 31)]

In [125]:
d=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'}, {'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},{'name':'Princess', 'phone':'555-3141', 'email':''},{'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]

for p in d:
  if p['phone'][7] == '8':
    print(p['name'], end ="\t")
print('\n' + '-' * 20)

for e in d:
  if e['email'] == '':
    print(e['name'],  end="\t")
print('\n' + '-' * 20)

n = input("이름: ")
flag = 1

for nm in d:
  if nm['name'] == n:
    print(f"{nm['phone']}\t{nm['email']}")
    flag = 0

if flag == 1:
  print("이름이 없습니다.")

Helga	LJ
--------------------
Princess
--------------------
이름: LJ
555-2718	lj@mail.net

In [134]:
import random

rotto = set()
while len(rotto) < 6:
  rotto.add(random.randint(1, 46))

print(rotto)

{46, 20, 21, 26, 28, 30}

In [3]:
score = {
    "Alice": [85, 90, 95],
    "Bob": [75, 80, 85],
    "Charlie": [95, 95, 95]
}

for n, s in score.items():
  print(f'{n}:{sum(s)/len(s):.0f}')

Alice:90
Bob:80
Charlie:95

In [19]:
text = "Hello, world!"

freq = {}

for c in text:
  if c not in freq:
    freq[c] = 1
  else:
    freq[c] += 1

print(freq)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1}

In [21]:
x = print("hello", end='ddd\n')
print(x) # 리턴을 안해줘도 None 값이 넘어옴

helloddd
None

In [ ]:
def get_operator(operator):
    if operator == '+':
        return lambda a, b: a + b
    elif operator == '-':
        return lambda a, b: a - b
    elif operator == '*':
        return lambda a, b: a * b
    elif operator == '/':
        return lambda a, b: a / b

add_f = get_operator('+')
sub_f = get_operator('-')
mul_f = get_operator('*')
div_f = get_operator('/')

In [23]:
def add_f(n):
  if n == 1:
    return 1
  elif n <= 0:
    return print("잘못된 입력 값입니다.")
  else:
    i = 1
    a = 0
    while i <= n:
      a += i
  return a

print(add_f(10))
# 미완성

KeyboardInterrupt: ignored